<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>532395073386-94jpgeqfd1lof81ocepb66ptd95eif1n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.532395073386-94jpgeqfd1lof81ocepb66ptd95eif1n</string>
	<key>API_KEY</key>
	<string>AIzaSyDweMiJ8Bk8DMQxiJioGjpSlFzK3ZJDou8</string>
	<key>GCM_SENDER_ID</key>
	<string>532395073386</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bindingofisaacitemfinderapp</string>
	<key>PROJECT_ID</key>
	<string>binding-of-isaac-item-finder</string>
	<key>STORAGE_BUCKET</key>
	<string>binding-of-isaac-item-finder.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:532395073386:ios:452903b583089ae824cf13</string>
</dict>
</plist>